.thumbnail-iamge-list-container {
  list-style-type: none;
  width: 90px;
  height: 90px;
}

.thumbnail-button {
  border: none;
  outline: none;
  border-width: 0px;
  background-color: transparent;
}

.thumbnail-button:hover {
  cursor: pointer;
  scale: 1.1;
}
.thumbnail-image {
  width: 100%;
}
@media (min-width: 768px) {
  .thumbnail-image {
    width: 100%;
  }
  .thumbnail-iamge-list-container {
    max-width: 12%;
    max-height: 12%;
  }
  .thumbnail-button:hover {
    cursor: pointer;
    scale: 1.4;
  }
}
